{:paths ["src"]
 :deps {org.pinkgorilla/webly {:local/root "../webly" :deps/manifest :deps}}
 :aliases
{
  :tailwind-girouette-webly
  {:extra-deps {org.pinkgorilla/girouette {:local/root "../girouette" :deps/manifest :deps}}
   :exec-fn frontend.tailwind.generator/generate-tailwind-webly}

  :tailwind-girouette-usage
  {:extra-deps {org.pinkgorilla/girouette {:local/root "../girouette" :deps/manifest :deps}}
   :ns-default girouette.processor
   :exec-fn process
   :exec-args {:source-paths ["src"]
               :css {;:output-file "target/webly/public/girouette.edn"
                     ;:output-format :css-classes
                     :output-file "target/res/public/girouette.css"}
               :garden-fn frontend.tailwind.grammar/class-name->garden
               :apply-classes frontend.tailwind.css/composed-classes
               :watch? false}}



:tailwind-girouette-list
  {:extra-deps {org.pinkgorilla/girouette {:local/root "../girouette" :deps/manifest :deps}}
   :ns-default girouette.processor
   :exec-fn process
   :exec-args {:source-paths ["src"
                              "../frontend/src"]
               :css {:output-file "target/webly/public/girouette.edn"
                     :output-format :css-classes
                     :source-paths ["src"
                                    "../frontend/src"]}
               :garden-fn frontend.tailwind.grammar/class-name->garden
               :apply-classes frontend.tailwind.css/composed-classes
               :watch? false}}
;
 }}
